include CHANGES.rst
include LICENSE.rst
include README.rst
include pyproject.toml
include setup.cfg

recursive-include imexam *
recursive-include docs *
recursive-include licenses *
recursive-include scripts *
recursive-include wrappers *
recursive-include cextern *

exclude cextern/xpa/.git
exclude cextern/xpa/.gitignore
exclude cextern/xpa/man
exclude cextern/xpa/doc
exclude cextern/xpa/notes

prune build
prune docs/build
prune docs/api

global-exclude *.pyc *.o
